In [12]:
import pandas as pd
import numpy as np
pd.set_option('display.float_format', lambda x: '%.3f' % x)	
# set the options to see all columns, rows
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('max_info_columns', 1001)
import warnings
warnings.filterwarnings('ignore')

In [3]:
regular = pd.read_csv('./Regular_Season_Batter.csv')
regulardbd = pd.read_csv('./Regular_Season_Batter_Day_by_Day.csv')

# 2018년 자료로 testset만들기

In [122]:
regular_2018s = regular[regular['year']==2018]

In [124]:
len(regular_2018s)

227

In [125]:
test_set = regular_2018s[['batter_id','batter_name', 'OPS']]

In [127]:
test_set.to_csv('./csvs/test.csv', index=False)

In [114]:
batter_2018 = pd.read_csv("./csvs/batters_list_2018.csv")

In [116]:
batter_2018 = batter_2018.drop("순위", axis=1)

In [117]:
batter_2018

     선수명   팀명   AVG    G   PA   AB    R    H  2B  3B  HR   TB  RBI  SAC  SF
0    김현수   LG 0.362  117  511  453   95  164  39   2  20  267  101    0  10
1    양의지   두산 0.358  133  503  439   84  157  29   1  23  257   77    0   6
2    이정후   넥센 0.355  109  520  459   81  163  34   2   6  219   57    3   8
3    박병호   넥센 0.345  113  488  400   88  138  20   0  43  287  112    0   3
4    안치홍  KIA 0.342  130  549  494   88  169  38   1  23  278  118    0   9
5    전준우   롯데 0.342  144  614  556  118  190  36   2  33  329   90    1   2
6    김주찬  KIA 0.340  121  471  429   71  146  23   0  18  223   93    2  10
7    최형우  KIA 0.339  143  609  528   92  179  34   1  25  290  103    0   8
8    유한준   KT 0.339  121  480  428   59  145  21   1  20  228   83    2   1
9    김재환   두산 0.334  139  602  527  104  176  36   1  44  346  133    0   7
10   최주환   두산 0.333  138  590  519   87  173  39   6  26  302  108    0  10
11   이대호   롯데 0.333  144  604  543   81  181  30   0  37  322  125    0   4
12   구자욱   삼성 0.333  116  529  478  100  159  26   5  20  255   84    1   2
13   채은성   LG 0.331  139  578  529   78  175  36   2  25  290  119    0   5
14    러프   삼성 0.330  137  597  506   97  167  32   4  33  306  125    0   8
15   이재원   SK 0.329  130  471  407   63  134  24   0  17  209   57    4   5
16   손아섭   롯데 0.329  141  625  553  109  182  32   5  26  302   93    1   1
17   박건우   두산 0.326  125  529  488   79  159  24   6  12  231   84    1   2
18   허경민   두산 0.324  133  577  516   85  167  30   5  10  237   79    5   8
19   박민우   NC 0.324  115  460  411   68  133  22   5   5  180   33    3   4
20   나성범   NC 0.318  144  620  556  110  177  36   3  23  288   91    0   5
21   민병헌   롯데 0.318  118  494  443   74  141  21   0  17  213   66    2   6
22    로맥   SK 0.316  141  616  528  102  167  19   0  43  315  107    0   6
23   이형종   LG 0.316  118  485  437   83  138  27   0  13  204   42    5   0
24   오재원   두산 0.313  132  521  473   78  148  24   1  15  219   81    3   2
25   노수광   SK 0.313  135  588  515   93  161  21   8   8  222   53    9   3
26   김재호   두산 0.311  131  467  402   78  125  20   0  16  193   75    3   6
27  버나디나  KIA 0.310  131  590  513  106  159  25   3  20  250   70    3   1
28    호잉   한화 0.306  142  590  529   85  162  47   2  30  303  110    0   5
29   로하스   KT 0.305  144  645  564  114  172  30   1  43  333  114    1   2
30   박용택   LG 0.303  134  583  524   89  159  38   1  15  244   76    0   7
31   이명기  KIA 0.302  120  502  447   88  135  28   6   4  187   42   11   1
32   이원석   삼성 0.301  128  543  479   74  144  30   1  20  236   93    0   5
33   김헌곤   삼성 0.300  141  586  513   77  154  26   2  11  217   71    5   4
34   박해민   삼성 0.299  144  649  576  114  172  30  10   9  249   68    8   6
35   송광민   한화 0.297  113  460  434   63  129  24   0  18  207   79    0   4
36   유강남   LG 0.296  132  465  425   53  126  33   0  19  216   66    2   1
37   황재균   KT 0.296  142  588  530   76  157  41   3  25  279   88    2   3
38   이성열   한화 0.295  131  528  485   76  143  21   1  34  268  102    1   2
39   김선빈  KIA 0.295  127  492  424   73  125  17   2   4  158   49    6   5
40   신본기   롯데 0.294  139  479  425   55  125  28   1  11  188   71    5   5
41   이용규   한화 0.293  134  575  491   82  144  14   1   1  163   36    8   5
42   임병욱   넥센 0.293  134  447  423   76  124  29   3  13  198   60    0   2
43   강백호   KT 0.290  138  585  527  108  153  32   2  29  276   84    0   3
44   김하성   넥센 0.288  129  576  511   95  147  27   4  20  242   84    1   5
45   한동민   SK 0.284  136  562  486   97  138  31   0  41  292  115    0   8
46   노진혁   NC 0.283  125  458  420   52  119  21   4  11  181   42    1   2
47   김민성   넥센 0.283  128  465  413   46  117  24   0  10  171   45    1   5
48   오재일   두산 0.279  123  477  401   69  112  19   2  27  216   80    0  10
49   오지환   LG 0.278  144  617  533   93  148  26   2  11  211   71   12   6
50   김성현   SK 0.277  135  462  415   51  115  19   1   4  148   55    6   3
51   윤석민   KT 0.276  132  509  460   58  127  22   0  19  206   60    2   3
52   김혜성   넥센 0.270  136  473  430   79  116  15   6   5  158   45    3   2
53   강민호   삼성 0.269  129  477  427   46  115  14   0  22  195   71    0   7
54    번즈   롯데 0.268  133  505  462   80  124  34   5  23  237   64    1   0
55   양석환   LG 0.263  140  519  483   53  127  27   0  22  220   82    1   5
56   김상수   삼성 0.263  122  499  453   63  119  13   1  10  164   50    8   3
57   박경수   KT 0.262  135  528  458   65  120  21   0  25  216   74    0   3
58  스크럭스   NC 0.257  142  571  501   75  129  35   0  26  242   97    0   3
59   하주석   한화 0.254  141  517  484   67  123  20   3   9  176   52    1   0
60   김동엽   SK 0.252  124  446  421   58  106  15   0  27  202   76    1   3
61    최정   SK 0.244  115  489  406   95   99  16   1  35  222   74    0   2

In [119]:
data_batter = list(regular['batter_name'].unique())
batter_18List = list(batter_2018['선수명'])

In [128]:
new_2018 = pd.read_csv('./csvs/enrolled_players_2018.csv')

In [142]:
sibal = list(new_2018['names'])

In [144]:
sibal.index('강경학')

310

In [145]:
data_batter.index('강경학')

1

In [147]:
sibal[310] in data_batter

True

In [148]:
for i in data_batter:
    if i not in sibal :
        print(i)

강구성
백승룡
강상원
강정호
강진성
고도현
고메즈
이종환
국해성
박재홍
권용관
김경모
김경언
김광연
김대륙
문선재
김동욱
김동주
김만수
김민수
홍성갑
김사훈
신현철
김상호
김연훈
김성욱
연경흠
김원석
김원섭
김응민
김재민
김재성
김재율
나바로
김종찬
김종호
김주형
김태완
김현수
나성용
남태혁
노수광
대니돈
도태훈
로메로
로사리오
로티노
마낙길
모상기
문우람
박계현
박광열
박기남
박노민
박동원
박상규
박석민
박용근
박유연
박정음
이호신
박준서
박진원
박헌도
백상원
백용환
백창수
서동욱
성의준
손용석
송광민
스나이더
신경현
신본기
신성현
신종길
안치용
알드리지
양영동
양종민
엄태용
오재필
오정복
용덕한
우동균
유선정
이종범
유재혁
윤병호
윤완주
윤요섭
이대수
이동훈
이명기
이명환
이민재
이성곤
조동찬
이승재
이여상
이영욱
이우민
이인구
이재율
이정식
이준수
이준호
이태원
한상훈
이현동
조평호
이홍구
이흥련
이희근
임재철
임종혁
장민석
장성호
장준원
전현태
정경운
정병곤
정상교
정의윤
정주후
정현석
정형식
조동화
조수행
조영훈
조윤준
조중근
지석훈
지재옥
차일목
채상병
초이스
최경철
최동수
최민구
최선호
최승준
최윤석
최훈락
칸투
테임즈
피에
하준호
한윤섭
현재윤
홍성흔
홍재호
황목치승
황선일
황정립
황진수

In [137]:
print(set(list(new_2018['names'])) - set(data_batter))

{'김사율', '나이트', '류택현', '김민재', '이영수', '정진식', '최태원', '김성민', '고우석', '이대환', '오주원', '백정현', '전형도', '안승한', '박종훈', '이명우', '배민관', '정성곤', '노성호', '장종훈', '배제성', '고효준', '산체스', '이숭용', '김진욱', '박정환', '한규식', '김택형', '박도현', '신재웅', '금민철', '정성종', '김영준', '김원중', '여건욱', '유희관', '이민우', '장민익', '이태양', '고영표', '한혁수', '신경식', '이형범', '고창성', '마정길', '박정배', '김세현', '코우조', '보니야', '공필성', '송은범', '왕웨이중', '정우람', '윤영삼', '가득염', '권혁', '강지광', '이보근', '박경태', '진해수', '손지환', '장정석', '채병용', '니퍼트', '유영준', '양현', '함덕주', '장재중', '이도형', '박철우', '한용덕', '최민준', '김태오', '송진우', '이승현', '박종호', '베렛', '지연규', '김태한', '엄상백', '송승준', '정수민', '김건태', '이영하', '정회열', '오현택', '홍원기', '김민우', '조원우', '이현호', '채종국', '윌슨', '이대진', '민태호', '김강률', '박신지', '문경찬', '레일리', '유원상', '정영일', '오치아이', '임기영', '최승환', '성동현', '임현준', '정찬헌', '손승락', '박진우', '이용찬', '헤일', '경헌호', '김종국', '황두성', '박경완', '고토', '이민호', '김승회', '장필준', '김승관', '최원태', '최만호', '노경은', '유지현', '장시환', '장민재', '김한수', '김재윤', '안성무', '김해님', '허문회', '이현승', '서균', '아델만', '진종길', '김민호', '최채흥', '임기준', '윤길현', '구승민', '강상수', '황인준', '문승원', '김태형', '홍건희', '최대성', '김원형', '안영명', '원종현', '신재영', '박상원', '홍성용', '해커', '김상훈', '권오준', '팻딘', '주형광', '박준표', '윤수호', '이병규', '김종수', '예이츠', '김유신', '윤희상', '샘슨', '김정민', '강인권', '힐만', '강동연', '정경배', '이상민', '김범수', '송재익', '장원준', '강윤구', '최동환', '진명호', '김대현', '이강철', '조재영', '이지풍', '임찬규', '안우진', '구창모', '신정락', '이동현', '배장호', '손혁', '윤성환', '정재원', '권명철', '임준섭', '김윤동', '이종혁', '차우찬', '조성훈', '우규민', '류중일', '최충연', '김건국', '홍세완', '주권', '김성갑', '브리검', '이승호', '한현희', '정동윤', '양창섭', '김진성', '강명구', '정인욱', '서진용'}

In [22]:
regular.head()

   batter_id batter_name  year team   avg    G   AB   R   H  2B  3B  HR   TB  RBI  SB  CS  BB  HBP  SO  GDP   SLG   OBP   E height/weight      year_born   position                                  career starting_salary   OPS
0          0        가르시아  2018   LG 0.339   50  183  27  62   9   0   8   95   34   5   0   9    8  25    3 0.519 0.383   9    177cm/93kg  1985년 04월 12일  내야수(우투우타)  쿠바 Ciego de Avila Maximo Gomez Baez(대)             NaN 0.902
1          1         강경학  2011   한화 0.000    2    1   0   0   0   0   0    0    0   0   0   0    0   1    0 0.000 0.000   1    180cm/72kg  1992년 08월 11일  내야수(우투좌타)                       광주대성초-광주동성중-광주동성고         10000만원 0.000
2          1         강경학  2014   한화 0.221   41   86  11  19   2   3   1   30    7   0   0  13    2  28    1 0.349 0.337   6    180cm/72kg  1992년 08월 11일  내야수(우투좌타)                       광주대성초-광주동성중-광주동성고         10000만원 0.686
3          1         강경학  2015   한화 0.257  120  311  50  80   7   4   2  101   27   4   3  40    5  58    3 0.325 0.348  15    180cm/72kg  1992년 08월 11일  내야수(우투좌타)                       광주대성초-광주동성중-광주동성고         10000만원 0.673
4          1         강경학  2016   한화 0.158   46  101  16  16   3   2   1   26    7   0   0   8    2  30    5 0.257 0.232   7    180cm/72kg  1992년 08월 11일  내야수(우투좌타)                       광주대성초-광주동성중-광주동성고         10000만원 0.489

In [71]:
regular.isnull().sum()

batter_id            0
batter_name          0
year                 0
team                 0
avg                 26
G                    0
AB                   0
R                    0
H                    0
2B                   0
3B                   0
HR                   0
TB                   0
RBI                  0
SB                   0
CS                   0
BB                   0
HBP                  0
SO                   0
GDP                  0
SLG                 26
OBP                 24
E                    0
height/weight      802
year_born            0
position           802
career               0
starting_salary      0
OPS                 26
dtype: int64

### 시작 연봉 numeric으로 변환

In [31]:
regular['starting_salary'] = regular['starting_salary'].map(lambda x : int(x[:-2]) if type(x)==str else 0 )

In [32]:
regular.head()

   batter_id batter_name  year team   avg    G   AB   R   H  2B  3B  HR   TB  RBI  SB  CS  BB  HBP  SO  GDP   SLG   OBP   E height/weight      year_born   position                                  career  starting_salary   OPS
0          0        가르시아  2018   LG 0.339   50  183  27  62   9   0   8   95   34   5   0   9    8  25    3 0.519 0.383   9    177cm/93kg  1985년 04월 12일  내야수(우투우타)  쿠바 Ciego de Avila Maximo Gomez Baez(대)                0 0.902
1          1         강경학  2011   한화 0.000    2    1   0   0   0   0   0    0    0   0   0   0    0   1    0 0.000 0.000   1    180cm/72kg  1992년 08월 11일  내야수(우투좌타)                       광주대성초-광주동성중-광주동성고            10000 0.000
2          1         강경학  2014   한화 0.221   41   86  11  19   2   3   1   30    7   0   0  13    2  28    1 0.349 0.337   6    180cm/72kg  1992년 08월 11일  내야수(우투좌타)                       광주대성초-광주동성중-광주동성고            10000 0.686
3          1         강경학  2015   한화 0.257  120  311  50  80   7   4   2  101   27   4   3  40    5  58    3 0.325 0.348  15    180cm/72kg  1992년 08월 11일  내야수(우투좌타)                       광주대성초-광주동성중-광주동성고            10000 0.673
4          1         강경학  2016   한화 0.158   46  101  16  16   3   2   1   26    7   0   0   8    2  30    5 0.257 0.232   7    180cm/72kg  1992년 08월 11일  내야수(우투좌타)                       광주대성초-광주동성중-광주동성고            10000 0.489

# 키 / 몸무게 / 나이 numeric으로

In [102]:
def splitter_h(x):
    if type(x) == str:
        arr = x.split('/')
        height = arr[0][:-2]
    else :
        height = 0
    return height
def splitter_w(x):
    if type(x) == str:
        arr = x.split('/')
        height = arr[1][:-2]
    else :
        height = 0
    return height

def split_birth(x):
    if type(x) == str:
        arr = x.split(" ")
        birthYear = arr[0][:-1]
    else :
        birthYear = 0
    return birthYear

In [92]:
splitter_h('173kg/29kg')

'173'

In [103]:
regular['height'] = regular['height/weight'].map(lambda x : splitter_h(x))
regular['weight'] = regular['height/weight'].map(lambda x : splitter_w(x))
regular['birth_year'] = regular['year_born'].map(lambda x : split_birth(x))

# Position 구분

In [106]:
regular['position'].unique()

array(['내야수(우투우타)', '내야수(우투좌타)', '외야수(우투좌타)', nan, '포수(우투우타)',
       '외야수(우투양타)', '외야수(우투우타)', '외야수(좌투좌타)', '포수(우투좌타)', '내야수(좌투좌타)',
       '내야수(우투양타)'], dtype=object)

In [113]:
no_position = regular[regular[['position']].isnull().any(axis=1)]

In [112]:
no_position

      batter_id batter_name  year  team   avg    G   AB    R    H  2B  3B  HR   TB  RBI  SB  CS   BB  HBP   SO  GDP   SLG   OBP   E height/weight      year_born   position                                             career  starting_salary   OPS height weight birth_year
12          138         백승룡  2005    한화 0.127   39   63    9    8   2   0   0   10    3   1   2    7    4   15    1 0.159 0.257   3           NaN  1982년 08월 16일        NaN                     사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센                0 0.415      0      0       1982
13          138         백승룡  2006    한화 0.139   37   36    6    5   2   0   0    7    0   1   0    8    2   14    0 0.194 0.326   4           NaN  1982년 08월 16일        NaN                     사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센                0 0.521      0      0       1982
14          138         백승룡  2007    한화 0.000    8    4    3    0   0   0   0    0    0   0   0    0    0    2    1 0.000 0.000   0           NaN  1982년 08월 16일        NaN                     사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센                0 0.000      0      0       1982
15          138         백승룡  2008    한화 0.000    2    1    0    0   0   0   0    0    0   0   0    0    0    0    0 0.000 0.000   0           NaN  1982년 08월 16일        NaN                     사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센                0 0.000      0      0       1982
16          138         백승룡  2011    한화 0.176   38   51    7    9   2   0   0   11    3   1   1    7    2   13    1 0.216 0.300   0           NaN  1982년 08월 16일        NaN                     사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센                0 0.516      0      0       1982
17          138         백승룡  2012    한화 0.231   33   52    3   12   1   0   0   13    3   3   0    6    3   20    0 0.250 0.344   1           NaN  1982년 08월 16일        NaN                     사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센                0 0.594      0      0       1982
18          138         백승룡  2013    한화   nan    2    0    0    0   0   0   0    0    0   0   0    0    0    0    0   nan   nan   0           NaN  1982년 08월 16일        NaN                     사직초(부산극동리틀)-사직중-경남상고-경성대-한화-넥센                0   nan      0      0       1982
19          297         진갑용  1997    OB 0.242   95  281   21   68   7   0   4   87   20   2   0   20    6   44    7 0.310 0.306   6           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.616      0      0       1974
20          297         진갑용  1998    OB 0.269   88  253   12   68  14   1   2   90   22   1   1   14    0   44   10 0.356 0.307   7           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.663      0      0       1974
21          297         진갑용  1999    삼성 0.212   68  156   13   33   3   0   4   48   17   0   2   10    2   29    7 0.308 0.268   7           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.576      0      0       1974
22          297         진갑용  2000    삼성 0.273  114  297   30   81  14   0   8  119   58   2   1   23    6   45    7 0.401 0.337   7           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.738      0      0       1974
23          297         진갑용  2001    삼성 0.306   89  314   54   96  25   2   7  146   57   2   3   23    7   37    4 0.465 0.366   4           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.831      0      0       1974
24          297         진갑용  2002    삼성 0.281  133  462   58  130  29   1  18  215   86   0   0   41    8   56   13 0.465 0.350  11           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.816      0      0       1974
25          297         진갑용  2003    삼성 0.290  126  435   64  126  20   2  21  213   53   1   1   36   10   34   13 0.490 0.358  13           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.847      0      0       1974
26          297         진갑용  2004    삼성 0.278  129  439   60  122  20   0  24  214   71   0   0   34   12   51   16 0.487 0.346   5           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.834      0      0       1974
27          297         진갑용  2005    삼성 0.288  110  347   34  100  17   0   6  135   41   1   1   36    8   47    8 0.389 0.368   6           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.757      0      0       1974
28          297         진갑용  2006    삼성 0.288  110  358   28  103  22   0   6  143   47   1   2   29    5   37   18 0.399 0.349   4           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.749      0      0       1974
29          297         진갑용  2007    삼성 0.246  122  362   28   89  12   0   5  116   39   0   1   49    7   38    9 0.320 0.347   4           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.667      0      0       1974
30          297         진갑용  2008    삼성 0.279  105  272   34   76   7   0  11  116   45   1   1   30    1   41    6 0.426 0.353   3           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.780      0      0       1974
31          297         진갑용  2009    삼성 0.232   57  142   10   33   3   1   3   47   20   1   2   15    4   23    5 0.331 0.323   2           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.654      0      0       1974
32          297         진갑용  2010    삼성 0.263  100  259   36   68   8   0  10  106   28   0   0   45    2   57    7 0.409 0.376   4           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.785      0      0       1974
33          297         진갑용  2011    삼성 0.273  112  286   26   78   7   0  10  115   42   1   0   35    3   53   10 0.402 0.358   6           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.760      0      0       1974
34          297         진갑용  2012    삼성 0.307  114  313   27   96  15   1   6  131   57   0   0   17    7   46    6 0.419 0.356   3           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.775      0      0       1974
35          297         진갑용  2013    삼성 0.271  101  181   22   49   9   0   6   76   36   0   0   12    5   28    5 0.420 0.333   4           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.753      0      0       1974
36          297         진갑용  2014    삼성 0.412   11   17    2    7   0   0   0    7    4   0   0    0    0    1    0 0.412 0.412   1           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.824      0      0       1974
37          297         진갑용  2015    삼성 0.324   39   68    8   22   2   0   3   33   10   0   0    4    0    9    3 0.485 0.361   0           NaN  1974년 05월 08일        NaN                           하단초-초량중-부산고-고려대-OB-두산-삼성                0 0.846      0      0       1974
58            6         강병식  2002    현대 0.208   89  130   16   27   3   1   6   50   20   0   2   11    3   35    5 0.385 0.285   1           NaN  1977년 04월 23일        NaN                   성동초-신일중-신일고-고려대-상무-현대-우리-히어로즈-넥센                0 0.669      0      0       1977
59            6         강병식  2003    현대 0.138   43   65    6    9   0   1   2   17   11   0   1   12    1   17    1 0.262 0.282   4           NaN  1977년 04월 23일        NaN                   성동초-신일중-신일고-고려대-상무-현대-우리-히어로즈-넥센                0 0.544      0      0       1977
60            6         강병식  2004    현대 0.176   16   17    0    3   1   0   0    4    1   1   0    3    0    5    1 0.235 0.300   0           NaN  1977년 04월 23일        NaN                   성동초-신일중-신일고-고려대-상무-현대-우리-히어로즈-넥센                0 0.535      0      0       1977
61            6         강병식  2005    현대 0.247   94  182   25   45  10   0   6   73   20   2   0   27    4   44    6 0.401 0.357   3           NaN  1977년 04월 23일        NaN                   성동초-신일중-신일고-고려대-상무-현대-우리-히어로즈-넥센                0 0.758      0      0       1977
62            6         강병식  2006    현대 0.218   93  133   16   29   7   1   4   50   25   1   1   19    4   28    7 0.376 0.333   2           NaN  1977년 04월 23일        NaN                   성동초-신일중-신일고-고려대-상무-현대-우리-히어로즈-넥센                0 0.709      0      0       1977
63            6         강병식  2007    현대 0.274   91  135   11   37   4   0   4   53   17   0   1   13    0   24    5 0.393 0.338   3           NaN  1977년 04월 23일        NaN                   성동초-신일중-신일고-고려대-상무-현대-우리-히어로즈-넥센                0 0.730      0      0       1977
64            6         강병식  2008    우리 0.269   71  119   12   32   8   0   4   52   17   0   2   14    3   18    2 0.437 0.360   2           NaN  1977년 04월 23일        NaN                   성동초-신일중-신일고-고려대-상무-현대-우리-히어로즈-넥센                0 0.797      0      0       1977
65            6         강병식  2009  히어로즈 0.250   54   76    9   19   4   0   2   29   14   2   2   13    3   21    0 0.382 0.380   3           NaN  1977년 04월 23일        NaN                   성동초-신일중-신일고-고려대-상무-현대-우리-히어로즈-넥센                0 0.762      0      0       1977
66            6         강병식  2010    넥센 0.287  107  251   32   72   9   1   9  110   30   2   2   34   11   51    5 0.438 0.395   0           NaN  1977년 04월 23일        NaN                   성동초-신일중-신일고-고려대-상무-현대-우리-히어로즈-넥센                0 0.834      0      0       1977
67            6         강병식  2011    넥센 0.174   77  167   16   29   8   1   2   45   17   2   0   15    2   53    3 0.269 0.250   0           NaN  1977년 04월 23일        NaN                   성동초-신일중-신일고-고려대-상무-현대-우리-히어로즈-넥센                0 0.519      0      0       1977
68            6         강병식  2012    넥센 0.200   26   30    4    6   2   0   0    8    2   1   1    5    1    9    0 0.267 0.333   0           NaN  1977년 04월 23일        NaN                   성동초-신일중-신일고-고려대-상무-현대-우리-히어로즈-넥센                0 0.600      0      0       1977
69            7         강봉규  2000    두산 0.000    1    1    0    0   0   0   0    0    0   0   0    0    0    1    0 0.000 0.000   0           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.000      0      0       1978
70            7         강봉규  2001    두산 0.236   64   89   16   21   7   1   2   36   11   2   0    6    1   28    1 0.404 0.292   1           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.696      0      0       1978
71            7         강봉규  2002    두산 0.250   93  160   30   40   6   1   5   63   25   6   1   16    2   43    4 0.394 0.326   1           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.720      0      0       1978
72            7         강봉규  2003    두산 0.231    6   13    3    3   0   0   1    6    3   1   0    2    0    2    1 0.462 0.333   0           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.795      0      0       1978
73            7         강봉규  2004    두산 0.236   40   72   14   17   2   1   1   24    5   2   1   10    1   20    0 0.333 0.337   1           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.671      0      0       1978
74            7         강봉규  2005    두산 0.235   48  102   12   24   3   1   1   32   10   2   1   18    2   30    2 0.314 0.361   0           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.674      0      0       1978
75            7         강봉규  2006    삼성 0.234   87  128   16   30   6   1   4   50   16   4   3   13    1   33    2 0.391 0.310   1           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.700      0      0       1978
76            7         강봉규  2007    삼성 0.282   83  142   20   40   9   1   1   54   13   4   2   16    5   25    4 0.380 0.374   2           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.755      0      0       1978
77            7         강봉규  2008    삼성 0.276   81  134   27   37   8   0   3   54   14   3   4   19    3   28    3 0.403 0.378   1           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.781      0      0       1978
78            7         강봉규  2009    삼성 0.310  126  449   89  139  24   2  20  227   78  20   3   69    4   61   15 0.506 0.406   4           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.912      0      0       1978
79            7         강봉규  2010    삼성 0.237   89  232   38   55  12   0   4   79   26   8   0   40    2   44    8 0.341 0.354   4           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.695      0      0       1978
80            7         강봉규  2011    삼성 0.267   52  146   14   39   7   1   1   51   18   3   1   17    2   24    3 0.349 0.352   1           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.701      0      0       1978
81            7         강봉규  2012    삼성 0.255  102  235   30   60  10   1   6   90   38   5   3   28    2   49    5 0.383 0.340   2           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.723      0      0       1978
82            7         강봉규  2013    삼성 0.207   32   82   11   17   5   0   0   22    5   3   0   14    1   19    5 0.268 0.330   0           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.598      0      0       1978
83            7         강봉규  2015    삼성 0.000    5    6    0    0   0   0   0    0    0   0   0    1    1    3    0 0.000 0.250   0           NaN  1978년 01월 12일        NaN                              부천초-개성중-경남고-고려대-두산-삼성                0 0.250      0      0       1978
89           10         강정호  2006    현대 0.150   10   20    1    3   1   0   0    4    1   0   1    0    0    8    1 0.200 0.150   3           NaN  1987년 04월 05일        NaN                  화정초-무등중-광주제일고-(남부대)-현대-우리-히어로즈-넥센                0 0.350      0      0       1987
90           10         강정호  2007    현대 0.133   20   15    0    2   0   0   0    2    0   0   0    0    0    5    1 0.133 0.133   0           NaN  1987년 04월 05일        NaN                  화정초-무등중-광주제일고-(남부대)-현대-우리-히어로즈-넥센                0 0.267      0      0       1987
91           10         강정호  2008    우리 0.271  116  362   36   98  18   1   8  142   47   3   1   31    5   65   12 0.392 0.337  13           NaN  1987년 04월 05일        NaN                  화정초-무등중-광주제일고-(남부대)-현대-우리-히어로즈-넥센                0 0.729      0      0       1987
92           10         강정호  2009  히어로즈 0.286  133  476   73  136  33   2  23  242   81   3   2   45    4   81   18 0.508 0.352  15           NaN  1987년 04월 05일        NaN                  화정초-무등중-광주제일고-(남부대)-현대-우리-히어로즈-넥센                0 0.861      0      0       1987
93           10         강정호  2010    넥센 0.301  133  449   60  135  30   2  12  205   58   2   2   61    7   87   14 0.457 0.393  23           NaN  1987년 04월 05일        NaN                  화정초-무등중-광주제일고-(남부대)-현대-우리-히어로즈-넥센                0 0.849      0      0       1987
94           10         강정호  2011    넥센 0.282  123  444   53  125  22   2   9  178   63   4   6   43    9   62   12 0.401 0.357  13           NaN  1987년 04월 05일        NaN                  화정초-무등중-광주제일고-(남부대)-현대-우리-히어로즈-넥센                0 0.758      0      0       1987
95           10         강정호  2012    넥센 0.314  124  436   77  137  32   0  25  244   82  21   5   71    6   78   16 0.560 0.417  12           NaN  1987년 04월 05일        NaN                  화정초-무등중-광주제일고-(남부대)-현대-우리-히어로즈-넥센                0 0.977      0      0       1987
96           10         강정호  2013    넥센 0.291  126  450   67  131  21   1  22  220   96  15   8   68    6  109   18 0.489 0.391  15           NaN  1987년 04월 05일        NaN                  화정초-무등중-광주제일고-(남부대)-현대-우리-히어로즈-넥센                0 0.880      0      0       1987
97           10         강정호  2014    넥센 0.356  117  418  103  149  36   2  40  309  117   3   3   68   13  106    8 0.739 0.461   9           NaN  1987년 04월 05일        NaN                  화정초-무등중-광주제일고-(남부대)-현대-우리-히어로즈-넥센                0 1.200      0      0       1987
106          13         고도현  2013    롯데 0.250    4    4    0    1   0   0   0    1    1   0   0    0    0    2    0 0.250 0.250   0           NaN  1990년 10월 13일        NaN                                    내당초-경운중-대구고-동의대                0 0.500      0      0       1990
107          13         고도현  2014    롯데 0.286    4    7    0    2   0   0   0    2    1   0   0    0    0    2    0 0.286 0.286   0           NaN  1990년 10월 13일        NaN                                    내당초-경운중-대구고-동의대                0 0.571      0      0       1990
108          14         고동진  2004    한화 0.317   51  161   27   51  12   0   5   78   19   8   2    7    7   40    1 0.484 0.371   3           NaN  1980년 04월 01일        NaN                              대전중리초-한밭중-대전고-성균관대-한화                0 0.856      0      0       1980
109          14         고동진  2005    한화 0.200   94  250   42   50  14   0   3   73   11  11   3   23   16   45    4 0.292 0.308   4           NaN  1980년 04월 01일        NaN                              대전중리초-한밭중-대전고-성균관대-한화                0 0.600      0      0       1980
110          14         고동진  2006    한화 0.241  120  370   40   89  14   2   4  119   29  16   4   21   12   80    6 0.322 0.303   3           NaN  1980년 04월 01일        NaN                              대전중리초-한밭중-대전고-성균관대-한화                0 0.624      0      0       1980
111          14         고동진  2007    한화 0.249  124  394   68   98   8   5   1  119   37  10   4   50   16   67    6 0.302 0.357   2           NaN  1980년 04월 01일        NaN                              대전중리초-한밭중-대전고-성균관대-한화                0 0.659      0      0       1980
112          14         고동진  2008    한화 0.218   31   87   14   19   5   0   0   24    5   2   0    6    0   13    4 0.276 0.269   0           NaN  1980년 04월 01일        NaN                              대전중리초-한밭중-대전고-성균관대-한화                0 0.545      0      0       1980
113          14         고동진  2011    한화 0.251   97  195   31   49   9   0   3   67   19   3   2   15    5   33    5 0.344 0.321   2           NaN  1980년 04월 01일        NaN                              대전중리초-한밭중-대전고-성균관대-한화                0 0.665      0      0       1980
114          14         고동진  2012    한화 0.270  110  281   32   76  12   0   3   97   29   8   9   38    5   48   10 0.345 0.367   1           NaN  1980년 04월 01일        NaN                              대전중리초-한밭중-대전고-성균관대-한화                0 0.712      0      0       1980
115          14         고동진  2013    한화 0.272   93  312   31   85  14   0   1  102   31   4   8   34    6   54   11 0.327 0.355   2           NaN  1980년 04월 01일        NaN                              대전중리초-한밭중-대전고-성균관대-한화                0 0.682      0      0       1980
116          14         고동진  2014    한화 0.241   73  187   21   45   5   0   1   53   14   0   2   18    2   35    2 0.283 0.314   2           NaN  1980년 04월 01일        NaN                              대전중리초-한밭중-대전고-성균관대-한화                0 0.597      0      0       1980

In [33]:
# Regular csv
print('타자 몇 명?', len(regular['batter_name'].unique()))
print("몇 년간?",len(regular['year'].unique()))
print('팀 개수?,',len(regular['team'].unique()))

타자 몇 명? 345
몇 년간? 26
팀 개수?, 16

In [34]:
regular_object = regular.select_dtypes(include=['object'])

In [37]:
 regular_object.describe().T

              count unique                                top freq
batter_name    2454    345                                장성호   20
team           2454     16                                 한화  302
height/weight  1652    182                         185cm/90kg   53
year_born      2454    336                      1985년 08월 18일   25
position       1652     10                          내야수(우투우타)  643
career         2454    343  충암초-충암중-충암고-(호남대)-해태-KIA-한화-롯데-KT   20

In [38]:
nans = lambda df: df[df.isnull().any(axis=1)]

In [39]:
no_salary = regular[regular[['starting_salary']].isnull().any(axis=1)]

In [40]:
no_salary.head(5)

Empty DataFrame
Columns: [batter_id, batter_name, year, team, avg, G, AB, R, H, 2B, 3B, HR, TB, RBI, SB, CS, BB, HBP, SO, GDP, SLG, OBP, E, height/weight, year_born, position, career, starting_salary, OPS]
Index: []

In [55]:
regular[regular["starting_salary"] == np.N\]

Empty DataFrame
Columns: [batter_id, batter_name, year, team, avg, G, AB, R, H, 2B, 3B, HR, TB, RBI, SB, CS, BB, HBP, SO, GDP, SLG, OBP, E, height/weight, year_born, position, career, starting_salary, OPS]
Index: []

[0 rows x 29 columns]

In [51]:
type(no_salary['starting_salary'][0])

float

In [41]:
regular.describe().T

                   count     mean       std      min      25%      50%       75%        max
batter_id       2454.000  178.079    97.558    0.000  101.250  183.000   265.000    344.000
year            2454.000 2011.615     4.993 1993.000 2008.000 2013.000  2016.000   2018.000
avg             2428.000    0.238     0.098    0.000    0.203    0.255     0.291      1.000
G               2454.000   72.535    45.094    1.000   28.000   79.000   115.000    144.000
AB              2454.000  201.515   169.537    0.000   38.250  163.000   357.500    600.000
R               2454.000   29.912    28.779    0.000    5.000   21.000    49.000    135.000
H               2454.000   55.988    52.254    0.000    8.000   40.000   100.000    201.000
2B              2454.000    9.863     9.871    0.000    1.000    7.000    16.000     47.000
3B              2454.000    0.958     1.647    0.000    0.000    0.000     1.000     17.000
HR              2454.000    5.504     7.989    0.000    0.000    2.000     8.000     53.000
TB              2454.000   84.279    82.854    0.000   10.000   56.000   146.000    377.000
RBI             2454.000   27.789    29.603    0.000    3.000   17.000    44.000    146.000
SB              2454.000    5.290     9.089    0.000    0.000    2.000     6.000     84.000
CS              2454.000    2.336     3.194    0.000    0.000    1.000     3.000     21.000
BB              2454.000   20.944    21.206    0.000    3.000   14.000    34.000    108.000
HBP             2454.000    3.425     4.133    0.000    0.000    2.000     5.000     27.000
SO              2454.000   38.597    31.801    0.000   10.000   33.000    60.000    161.000
GDP             2454.000    4.604     4.714    0.000    1.000    3.000     7.000     24.000
SLG             2428.000    0.344     0.163    0.000    0.267    0.360     0.436      3.000
OBP             2430.000    0.307     0.112    0.000    0.273    0.329     0.367      1.000
E               2454.000    3.676     4.585    0.000    0.000    2.000     5.000     30.000
starting_salary 2454.000 7658.517 14313.327    0.000    0.000 4000.000 10000.000 300000.000
OPS             2428.000    0.650     0.262    0.000    0.546    0.689     0.797      4.000

In [16]:
regular[regular['OPS'] > 1.5]

      batter_id batter_name  year team   avg  G  AB  R  H  2B  3B  HR  TB  RBI  SB  CS  BB  HBP  SO  GDP   SLG   OBP  E height/weight      year_born   position                                career starting_salary   OPS
98           11         강진성  2013   NC 0.500  3   2  1  1   1   0   0   2    0   0   0   1    0   0    0 1.000 0.667  0    180cm/81kg  1993년 10월 19일  내야수(우투우타)                     가동초-잠신중-경기고-NC-경찰          7000만원 1.667
192          22         권정웅  2016   삼성 1.000  3   1  1  1   0   0   0   1    0   0   0   0    0   0    0 1.000 1.000  0    180cm/88kg  1992년 11월 15일   포수(우투우타)                     서울이수초-영동중-덕수고-한양대          6000만원 2.000
384          45         김성현  2006   SK 1.000  5   1  2  1   0   0   0   1    0   0   0   0    0   0    0 1.000 1.000  0    172cm/72kg  1987년 03월 09일  내야수(우투우타)                  송정동초-충장중-광주제일고-SK-상무          7000만원 2.000
429          51         김응민  2015   두산 0.333  4   3  1  1   0   0   1   4    2   0   0   0    0   0    1 1.333 0.333  0    178cm/90kg  1991년 10월 22일   포수(우투우타)               서울이수초-건대부중-중앙고-두산-삼성-상무             NaN 1.666
656          96         류지혁  2012   두산 1.000  2   1  0  1   0   0   0   1    0   0   0   0    0   0    0 1.000 1.000  0    181cm/75kg  1994년 01월 13일  내야수(우투좌타)                     청원초-선린중-충암고-두산-상무          7000만원 2.000
1277        185         용덕한  2004   두산 1.000  5   2  1  2   0   0   0   2    1   0   0   0    0   0    0 1.000 1.000  0           NaN  1981년 04월 09일        NaN  대구중앙초-대구중-대구상고-동아대-두산-상무-두산-롯데-KT-NC             NaN 2.000
1371        196         윤완주  2014  KIA 1.000  5   2  0  2   0   0   0   2    0   0   0   1    0   0    0 1.000 1.000  0           NaN  1989년 02월 25일        NaN                       대연초-부산중-개성고-경성대             NaN 2.000
2083        288         조윤준  2016   LG 1.000  2   1  1  1   0   0   0   1    0   0   0   0    0   0    0 1.000 1.000  0    185cm/95kg  1989년 08월 30일   포수(우투우타)                     대전신흥초-한밭중-북일고-중앙대         20000만원 2.000
2124        294         지석훈  2004   현대 1.000  5   1  1  1   0   1   0   3    2   0   0   0    0   0    0 3.000 1.000  0    181cm/74kg  1984년 03월 17일  내야수(우투우타)               가동초-휘문중-휘문고-현대-우리-상무-넥센         25000만원 4.000

In [5]:
regulardbd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109771 entries, 0 to 109770
Data columns (total 20 columns):
batter_id        109771 non-null int64
batter_name      109771 non-null object
date             109771 non-null float64
opposing_team    109771 non-null object
avg1             109771 non-null object
AB               109771 non-null int64
R                109771 non-null int64
H                109771 non-null int64
2B               109771 non-null int64
3B               109771 non-null int64
HR               109771 non-null int64
RBI              109771 non-null int64
SB               109771 non-null int64
CS               109771 non-null int64
BB               109771 non-null int64
HBP              109771 non-null int64
SO               109771 non-null int64
GDP              109771 non-null int64
avg2             109771 non-null float64
year             109771 non-null int64
dtypes: float64(2), int64(15), object(3)
memory usage: 16.7+ MB

In [18]:
print('타자 몇 명?', len(regulardbd['batter_name'].unique()))
print("몇 년간?",len(regulardbd['year'].unique()))
print('날짜 몇 개?,',len(regulardbd['date'].unique()))

타자 몇 명? 233
몇 년간? 18
날짜 몇 개?, 210

In [25]:
regulardbd[['date','year']]

         date  year
0        3.24  2018
1        3.25  2018
2        3.27  2018
3        3.28  2018
4        3.29  2018
5        3.30  2018
6        3.31  2018
7        4.01  2018
8        4.03  2018
9        4.04  2018
10       4.06  2018
11       4.07  2018
12       4.08  2018
13       4.10  2018
14       4.11  2018
15       4.12  2018
16       4.13  2018
17       4.14  2018
18       4.15  2018
19       4.17  2018
20       7.11  2018
21       7.12  2018
22       7.17  2018
23       7.18  2018
24       7.20  2018
25       7.21  2018
26       7.22  2018
27       7.24  2018
28       7.25  2018
29       7.26  2018
...       ...   ...
109741   7.27  2017
109742   9.07  2017
109743   9.14  2017
109744   9.17  2017
109745   9.26  2017
109746   9.30  2017
109747  10.03  2017
109748   5.23  2018
109749   6.06  2018
109750   6.07  2018
109751   6.14  2018
109752   6.15  2018
109753   6.16  2018
109754   8.14  2018
109755   8.15  2018
109756   8.16  2018
109757   9.05  2018
109758   9.06  2018
109759   9.11  2018
109760   9.12  2018
109761   9.14  2018
109762   9.19  2018
109763   9.20  2018
109764   9.27  2018
109765   9.29  2018
109766  10.06  2018
109767  10.06  2018
109768  10.10  2018
109769  10.11  2018
109770  10.13  2018

[109771 rows x 2 columns]

# Regular 선수별로 봐보기

In [ ]:
regular_meanregular.groupby(by='batter_name').sum()

In [54]:
regular_mean1= regular.groupby(by='batter_name')['year'].count()

In [57]:
regular_mean['year']=(regular_mean1)

In [59]:
len(regular_mean)

345

In [60]:
regular[regular['batter_name']=='강백호']

    batter_id batter_name  year team   avg    G   AB    R    H  2B  3B  HR   TB  RBI  SB  CS  BB  HBP   SO  GDP   SLG   OBP  E height/weight      year_born   position        career  starting_salary   OPS
57          5         강백호  2018   KT 0.290  138  527  108  153  32   2  29  276   84   3   5  52    3  124    4 0.524 0.356  6    184cm/98kg  1999년 07월 29일  외야수(우투좌타)  부천북초-이수중-서울고            45000 0.880

In [61]:
regular_mean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 345 entries, 가르시아 to 황진수
Data columns (total 23 columns):
batter_id          345 non-null float64
year               345 non-null int64
avg                344 non-null float64
G                  345 non-null float64
AB                 345 non-null float64
R                  345 non-null float64
H                  345 non-null float64
2B                 345 non-null float64
3B                 345 non-null float64
HR                 345 non-null float64
TB                 345 non-null float64
RBI                345 non-null float64
SB                 345 non-null float64
CS                 345 non-null float64
BB                 345 non-null float64
HBP                345 non-null float64
SO                 345 non-null float64
GDP                345 non-null float64
SLG                344 non-null float64
OBP                344 non-null float64
E                  345 non-null float64
starting_salary    345 non-null float64
OPS                344 non-null float64
dtypes: float64(22), int64(1)
memory usage: 64.7+ KB